@using SHOP_NETCORE.Models
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_layoutClient.cshtml";
    var slide = (List<SlideViewModel>)ViewBag.Slide;
    var lstCategory = (List<ProductCategoryViewModel>)ViewBag.lstCategory;
}

<style>
    #li5 {
        margin-left: 0px !important;
    }
    .sale-img {
        padding-right: 47px;
        padding-top: 37px;
    }
</style>

@section banner{ 
<div class="container">
    <div class="custom-feature-box row">
        <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="feature-box fbox_1">
                <div class="title">Miễn phí vận chuyển</div>
                <p>miễn phí cho đơn hàng dưới 5.000.000</p>
            </div>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="feature-box fbox_2">
                <div class="title">Miễn phí đổi hàng</div>
                <p>miễn phí đổi hàng trong vòng 24g</p>
            </div>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="feature-box fbox_3">
                <div class="title">Thẻ ưu đãi</div>
                <p>tặng thẻ ưu đãi khi đủ điều kiện</p>
            </div>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="feature-box fbox_4">
                <div class="title">Cộng điểm</div>
                <p>được cộng điểm mua hàng</p>
            </div>
        </div>
    </div>
</div>

}

@section Slide{
<div class="slideshow single-slider owl-carousel">
    @foreach (var item in slide)
    {
        if (item.Status == true)
        {
            <div class="item"> <a href="#"><img class="img-responsive" src="@Url.Content("~/images/slidebanner/"+ item.LinkImage)" width="920px" height="380px" alt="banner 1" /></a> </div>
        }
    }
</div>

}

@foreach (var item in lstCategory)
{
    <h3 class="subtitle">@item.Name</h3>
    @await Component.InvokeAsync("ProductByCategory", new { categoryId = item.Id })
    
    @await Component.InvokeAsync("BannerHome", new { categoryId = item.Id })

   
}
