@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
@using COMMONS
@using SHOP_NETCORE.Models
@{ 
    string key = CommonConstants.CustomerLogin;
    var customer = HttpContextAccessor.HttpContext.Session.GetObject<CustomerViewModel>(key);
}


<div id="header">
    <!-- Top Bar Start-->
    <nav id="top" class="htop">
        <div class="container">
            <div class="row">
                <span class="drop-icon visible-sm visible-xs"><i class="fa fa-align-justify"></i></span>
                <div class="pull-left flip left-top">
                    <div class="links">
                        @await Component.InvokeAsync("Infomation")
                        
                    </div>
                    <div id="language" class="btn-group">
                        <button class="btn-link dropdown-toggle" data-toggle="dropdown"> <span>Ngôn ngữ <i class="fa fa-caret-down"></i></span></button>
                        <ul class="dropdown-menu">
                            <li>
                                <button class="btn btn-link btn-block language-select" type="button" name="GB"> Tiếng việt</button>
                            </li>
                            <li>
                                <button class="btn btn-link btn-block language-select" type="button" name="GB"> English</button>
                            </li>
                        </ul>
                    </div>
                    @*<div id="currency" class="btn-group">
                        <button class="btn-link dropdown-toggle" data-toggle="dropdown"> <span> $ USD <i class="fa fa-caret-down"></i></span></button>
                        <ul class="dropdown-menu">
                            <li>
                                <button class="currency-select btn btn-link btn-block" type="button" name="EUR">€ Euro</button>
                            </li>
                            <li>
                                <button class="currency-select btn btn-link btn-block" type="button" name="GBP">£ Pound Sterling</button>
                            </li>
                            <li>
                                <button class="currency-select btn btn-link btn-block" type="button" name="USD">$ US Dollar</button>
                            </li>
                        </ul>
                    </div>*@
                </div>
                @if (customer == null)
                {
                    <div id="top-links" class="nav pull-right flip">
                        <ul>
                            <li><a href="dangnhap.html">Đăng nhập</a></li>
                            <li><a href="dangky.html">Đăng ký</a></li>
                        </ul>
                    </div>
                }
                else
                {
                        <div id="top-links" class="nav pull-right flip">
                            <ul>
                                <li>Xin chào @customer.Name</li>
                                <li><a href="thoat.html">Thoát</a></li>
                            </ul>

                        </div>
                }

            </div>
        </div>
    </nav>
    <!-- Top Bar End-->
    <!-- Header Start-->
    <header class="header-row">
        <div class="container">
            <div class="table-container">
                <!-- Logo Start -->
                <div class="col-table-cell col-lg-6 col-md-6 col-sm-12 col-xs-12 inner">
                    <div id="logo"><a href="index.html"><img class="img-responsive" src="~/client/image/logo.png" title="MarketShop" alt="MarketShop" /></a></div>
                </div>
                <!-- Logo End -->
                <!-- Mini Cart Start-->
                <div class="col-table-cell col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    @await Component.InvokeAsync("Cart")
                    
                </div>
                <!-- Mini Cart End-->
                <!-- Search Start-->
                <div class="col-table-cell col-lg-3 col-md-3 col-sm-6 col-xs-12 inner">
                    <div id="search" class="input-group">
                        <input id="filter_name" type="text" name="search" value="" placeholder="Tìm kiếm" class="form-control input-lg" />
                        <button type="button" class="button-search"><i class="fa fa-search"></i></button>
                    </div>
                </div>
                <!-- Search End-->
            </div>
        </div>
    </header>
    <!-- Header End-->
    <!-- Main Menu Start-->
    <div class="container">
        <nav id="menu" class="navbar">
            <div class="navbar-header"> <span class="visible-xs visible-sm"> Menu <b></b></span></div>
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                @await Component.InvokeAsync("Menu")
                
            </div>
        </nav>
    </div>
    <!-- Main Menu End-->
</div>
