@model List<SHOP_NETCORE.Models.InfomationViewModel>


@foreach (var item in Model)
{
    <ul>
        <li class="mobile"><i class="fa fa-phone"></i>@item.Phone</li>
        <li class="email"><a href="mailto:info@marketshop.com"><i class="fa fa-envelope"></i>@item.Email</a></li>
        <li class="email"><a href="mailto:info@marketshop.com"><i class="fa fa-envelope"></i>@item.Address</a></li>
    </ul>
}

