
@{
    ViewData["Title"] = "Denied";
    Layout = "~/Areas/Admin/Views/Shared/_layouts.cshtml";
}

<div class="row">
    <div class="col-md-12">
        <div class="top-buffer"></div>
        <div class="panel panel-danger">
            <div class="panel-heading">Truy cập bị từ chối</div>
            <div class="panel-body">
                <section>
                    <h1 class="text-danger">401 ! Bạn không có quyền truy cập chức năng này</h1>
                    <br />
                    <a href="javascript:void(0)" onClick="backAway()" class="btn btn-success">Trở lại</a>
                </section>
            </div>
        </div>
    </div>
    <div class="col-md-3"></div>
</div> 

