@model List<SHOP_NETCORE.Models.ProductViewModel>
@{
    ViewData["Title"] = "GetProductByCategory";
    Layout = "~/Views/Shared/_layoutClient.cshtml";
}

<style>
    ul li{
        margin-left:0 !important;
    }
</style>

<section class="content-wrapper">
    <div class="content-container container">
        <div class="breadcrum-container">
            <ul>
                <li><a href="#" title="Home">Home</a></li>
                <li>Man</li>
            </ul>
        </div>
        <div class="col-left">
            <div class="block man-block">
                <div class="block-title">MAN</div>
                <ul>
                    <li><a href="#" title="SWEATERS">SWEATERS</a></li>
                    <li><a href="#" title="KNIT TOPS">KNIT TOPS</a></li>
                    <li><a href="#" title="SHIRTS & BLOUSES">SHIRTS & BLOUSES</a></li>
                    <li><a href="#" title="TEE SHIRTS">TEE SHIRTS</a></li>
                    <li><a href="#" title="OUTERWEAR & JACKETS">OUTERWEAR & JACKETS</a></li>
                </ul>
            </div>
            <div class="block shop-by-block">
                <div class="block-title">SHOP BY</div>
                <ul>
                    <li>Price</li>
                    <li><a href="#" title="$300.00 - $399.99 (1)">$300.00 - $399.99 (1)</a></li>
                    <li><a href="#" title="$300.00 - $399.99 (1)">$300.00 - $399.99 (1)</a></li>
                    <li><a href="#" title="$300.00 - $399.99 (1)">$300.00 - $399.99 (1)</a></li>
                    <li><a href="#" title="$300.00 - $399.99 (1)">$300.00 - $399.99 (1)</a></li>
                </ul>
            </div>
            <div class="block compare-block">
                <div class="block-title">COMPARE PRODUCTS</div>
                <ul>
                    <li>You have no items to compare</li>
                </ul>
            </div>
            <div class="block community-block">
                <div class="block-title">COMMUNITY POLL</div>
                <ul>
                    <li class="question-row">WHAT IS YOUR FAVORITE COLOR</li>
                    <li><input type="radio"><a href="#" title="Green">Green</a></li>
                    <li><input type="radio"><a href="#" title="Red">Red</a></li>
                    <li><input type="radio"><a href="#" title="Black">Black</a></li>
                    <li><input type="radio"><a href="#" title="Magenta">Magenta</a></li>
                    <li class="vote-row"><button title="Vote">Vote</button></li>
                </ul>
            </div>
            <div class="paypal-block">
                <a href="#" title="Paypal"><img src="images/paypal_img.png" title="Paypal" alt="Paypal" /></a>
            </div>
        </div>
        <div class="col-main">
            <div class="category-banner"><img src="images/sunglass.jpg" title="Banner" alt="Banner" /></div>
            <div class="pager-container">
                <div class="pager">
                    <div class="show-items">6 Item(s)</div>
                    <div class="show-per-page"><label>Show</label> <select><option>09</option></select></div>
                </div>
                <div class="view-by-block">
                    <ul class="view-by">
                        <li>View as:</li>
                        <li><a href="#" title="Grid" class="grid">Grid</a></li>
                        <li><a href="#" title="List" class="list">List</a></li>
                    </ul>
                    <div class="short-by">
                        <label>Sort By</label><select><option>Position</option></select>
                    </div>
                </div>
            </div>
            <div class="new-product-block">
                <ul class="product-grid">
                    @foreach (var item in Model)
                    {
                        <li>
                            <div class="pro-img"><img title="Freature Product" alt="Freature Product" width="150px;" src="@Url.Content("~/images/"+ item.Images)" /></div>
                            <div class="pro-content"><p>White Round Neck T-Shirt</p></div>
                            <div class="pro-price">@item.Price</div>
                                <div class="pro-btn-block">
                                    <a class="add-cart left" href="#" title="Add to Cart">Add to Cart</a>
                                    <a class="add-cart right quickCart inline" href="#quick-view-container" title="Quick View">Quick View</a>
                                </div>
                                <div class="pro-link-block">
                                    <a class="add-wishlist left" href="#" title="Add to wishlist">Add to wishlist</a>
                                    <a class="add-compare right" href="#" title="Add to Compare">Add to Compare</a>
                                    <div class="clearfix"></div>
                                </div>
                            </li>
                    }
                  
            </div>
            <div class="pager-container">
                <div class="pager">
                    <div class="show-items">@Model.Count() items</div>
                    <div class="show-per-page"><label>Show</label> <select><option>09</option></select></div>
                </div>
                <div class="view-by-block">
                    <ul class="view-by">
                        <li>View as:</li>
                        <li><a href="#" title="Grid" class="grid">Grid</a></li>
                        <li><a href="#" title="List" class="list">List</a></li>
                    </ul>
                    <div class="short-by">
                        <label>Sort By</label><select><option>Position</option></select>
                    </div>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="news-letter-container">
            <div class="free-shipping-block">
                <h1>ENJOY FREE SHIPPING</h1>
                <p>on all orders as our holiday gift for you!</p>
            </div>
            <div class="news-letter-block">
                <h2>SIGN UP FOR OUR NEWSLETTER</h2>
                <input type="text" value="Enter email address" title="" />
                <input type="submit" value="Submit" title="Submit" />
            </div>
        </div>
    </div>
</section>

