@model SHOP_NETCORE.Models.CustomerViewModel

@{
    ViewData["Title"] = "Register";
    Layout = "~/Views/Shared/_layoutClient.cshtml";
}

<h1 class="title">Đăng ký tài khoản</h1>
<p>Nếu bạn đã có tài khoản xin vui lòng <a href="login.html">Đăng nhập</a>.</p>
<form class="form-horizontal" asp-controller="Customer" asp-action="Register" method="post">
    <fieldset id="account">
        <legend>Thông tin tài khoản</legend>
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group required">
            <label asp-for="Name" class="col-sm-2 control-label"></label>
            <div class="col-sm-10">
                <input asp-for="Name" type="text" class="form-control" placeholder="Họ tên">
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group required">
            <label asp-for="Email" for="input-email" class="col-sm-2 control-label"></label>
            <div class="col-sm-10">
                <input asp-for="Email" type="email" class="form-control" placeholder="E-Mail">
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group required">
            <label asp-for="Address" for="input-lastname" class="col-sm-2 control-label"></label>
            <div class="col-sm-10">
                <input asp-for="Address" type="text" class="form-control" id="input-lastname" placeholder="Địa chỉ" >
                <span asp-validation-for="Address" class="text-danger"></span>
            </div>
        </div>
       
        <div class="form-group required">
            <label asp-for="Phone" for="input-telephone" class="col-sm-2 control-label"></label>
            <div class="col-sm-10">
                <input asp-for="Phone" type="tel" class="form-control" id="input-telephone" placeholder="Điện thoại">
                <span asp-validation-for="Phone" class="text-danger"></span>
            </div>
        </div>
       
    </fieldset>
    <fieldset>
        <legend>Mật khẩu</legend>
        <div class="form-group required">
            <label asp-for="Password" for="input-password" class="col-sm-2 control-label"></label>
            <div class="col-sm-10">
                <input asp-for="Password" type="password" class="form-control" id="input-password" placeholder="Mật khẩu">
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group required">
            <label asp-for="ConfirmPassword" for="input-confirm" class="col-sm-2 control-label"></label>
            <div class="col-sm-10">
                <input asp-for="ConfirmPassword" type="password" class="form-control" id="input-confirm" placeholder="Xác nhận mật khẩu">
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>
        </div>
    </fieldset>
    <div class="buttons">
        <div class="pull-right">
            <input type="submit" class="btn btn-primary" value="Đăng ký">
        </div>
    </div>
</form>

