@model List<SHOP_NETCORE.Models.ProductViewModel>


<h3 class="subtitle">Sản phẩm bán chạy</h3>
<div class="side-item">
    @foreach (var item in Model)
    {
        <div class="product-thumb clearfix">
            <div class="image"><a href="/products/detail/@item.Id"><img src="@Url.Content("~/images/"+ item.Images)" width="50px" height="50px" alt="Hair Care Cream for Men" title="Hair Care Cream for Men" class="img-responsive" /></a></div>
            <div class="caption">
                <h4><a href="/products/detail/@item.Id">@item.Name</a></h4>
                <p class="price"><span class="price-old">@item.Price.ToString("N0") <small style="color:red;">vnđ</small></span></p>
                <p class="price"><span class="price-new">@item.PromotionPrice.ToString("N0") <small style="color:red;">vnđ</small></span></p>
            </div>
        </div>
    }
    
    
</div>
