<aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
        <!-- Sidebar user panel -->
       
        <!-- /.search form -->
        <!-- sidebar menu: : style can be found in sidebar.less -->
        <ul class="sidebar-menu" data-widget="tree">
            <li class="header">TRÌNH QUẢN LÝ</li>
            <li>
                <a href="/admin/home">
                    <i class="fa fa-dashboard"></i> <span>Trang chủ</span>
                    @*<span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>*@
                </a>
            </li>
            
            <li class="treeview">
                <a href="#">
                    <i class="fa fa-pie-chart"></i>
                    <span>Thị Trường</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li><a href="/admin/supplier"><i class="fa fa-circle-o"></i>Danh sách Nhà Cung Cấp</a></li>
                    <li><a href="/admin/producer"><i class="fa fa-circle-o"></i>Danh sách Nhà Sản Xuất</a></li>
                </ul>
            </li>
            <li class="treeview">
                <a href="#">
                    <i class="fa fa-laptop"></i>
                    <span>Sản Phẩm</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li><a href="/admin/productcategory"><i class="fa fa-circle-o"></i>Danh sách danh Mục</a></li>
                    <li><a href="/admin/product"><i class="fa fa-circle-o"></i>Danh sách sản phẩm</a></li>
                    <li><a href="/admin/product/best"><i class="fa fa-circle-o"></i>Sản phẩm bán chạy</a></li>
                    <li><a href="/admin/product/hethan"><i class="fa fa-circle-o"></i>Sản phẩm sắp hết hạn</a></li>
                    <li><a href="/admin/statistic"><i class="fa fa-circle-o"></i>Thống Kê</a></li>
                </ul>
            </li>
            <li class="treeview">
                <a href="#">
                    <i class="fa fa-edit"></i> <span>Khách Hàng</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li><a href="/admin/customer"><i class="fa fa-circle-o"></i>Khách hàng tài khoản</a></li>
                    <li><a href="/admin/customer/guest"><i class="fa fa-circle-o"></i>Khách hàng vãng lai</a></li>
                </ul>
            </li>

            <li class="treeview">
                <a href="#">
                    <i class="fa fa-calculator"></i> <span>Quản lý đơn hàng</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li><a href="/admin/order"><i class="fa fa-circle-o"></i>Danh sách Đơn hàng</a></li>
                </ul>
            </li>

            <li class="treeview">
                <a href="#">
                    <i class="fa fa-key"></i> <span>Quản lý kho</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li><a href="/admin/storage"><i class="fa fa-circle-o"></i>Nhập hàng</a></li>
                    <li><a href="/admin/product/output"><i class="fa fa-circle-o"></i>Xuất hàng</a></li>
                    <li><a href="/admin/storage/listreceipt"><i class="fa fa-circle-o"></i>Danh sách phiếu nhập</a></li>
                </ul>
            </li>

            <li class="treeview">
                <a href="#">
                    <i class="fa fa-table"></i> <span>Hệ Thống</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li><a href="/admin/usermanager/user"><i class="fa fa-circle-o"></i>Người dùng</a></li>
                    <li><a href="pages/tables/data.html"><i class="fa fa-circle-o"></i>Nhóm người dùng</a></li>
                    <li><a href="/admin/usermanager/role"><i class="fa fa-circle-o"></i>Quyền</a></li>
                </ul>
            </li>
            <li class="treeview">
                <a href="#">
                    <i class="fa fa-table"></i> <span>Quản lý trang</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li><a href="/admin/infomation"><i class="fa fa-circle-o"></i>Thông tin công ty</a></li>
                    <li><a href="/admin/menu"><i class="fa fa-circle-o"></i>Quản lý Menu</a></li>
                    <li><a href="/admin/slide"><i class="fa fa-circle-o"></i>Slide</a></li>
                    <li><a href="/admin/banner"><i class="fa fa-circle-o"></i>Banner</a></li>
                    <li><a href="/admin/introduction"><i class="fa fa-circle-o"></i>Trang giới thiệu</a></li>
                    <li><a href="/admin/contact"><i class="fa fa-circle-o"></i>Trang liên hệ</a></li>
                </ul>
            </li>
           
        </ul>
    </section>
    <!-- /.sidebar -->
</aside>