<aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
        <!-- Sidebar user panel -->
        <div class="user-panel">
            <div class="pull-left image">
                <img src="dist/img/user2-160x160.jpg" class="img-circle" alt="User Image">
            </div>
            <div class="pull-left info">
                <p>Alexander Pierce</p>
                <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
            </div>
        </div>
        <!-- search form -->
        <form action="#" method="get" class="sidebar-form">
            <div class="input-group">
                <input type="text" name="q" class="form-control" placeholder="Search...">
                <span class="input-group-btn">
                    <button type="submit" name="search" id="search-btn" class="btn btn-flat">
                        <i class="fa fa-search"></i>
                    </button>
                </span>
            </div>
        </form>
        <!-- /.search form -->
        <!-- sidebar menu: : style can be found in sidebar.less -->
        <ul class="sidebar-menu" data-widget="tree">
            <li class="header">MAIN NAVIGATION</li>
            <li class="active treeview">
                <a href="#">
                    <i class="fa fa-dashboard"></i> <span>Trang chủ</span>
                    @*<span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>*@
                </a>
            </li>
            
            <li class="treeview">
                <a href="#">
                    <i class="fa fa-pie-chart"></i>
                    <span>Thi Trường</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li><a href="/admin/supplier"><i class="fa fa-circle-o"></i>Danh sách Nhà Cung Cấp</a></li>
                    <li><a href="/admin/producer"><i class="fa fa-circle-o"></i>Danh sách Nhà Sản Xuất</a></li>
                </ul>
            </li>
            <li class="treeview">
                <a href="#">
                    <i class="fa fa-laptop"></i>
                    <span>Sản Phẩm</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li><a href="/admin/productcategory"><i class="fa fa-circle-o"></i>Danh sách danh Mục</a></li>
                    <li><a href="/admin/product"><i class="fa fa-circle-o"></i>Danh sách sản phẩm</a></li>
                    <li><a href="pages/UI/buttons.html"><i class="fa fa-circle-o"></i>Sản phẩm bán chạy</a></li>
                    <li><a href="pages/UI/sliders.html"><i class="fa fa-circle-o"></i>Sản phẩm sắp hết hạn</a></li>
                    <li><a href="pages/UI/timeline.html"><i class="fa fa-circle-o"></i>Thống Kê</a></li>
                </ul>
            </li>
            <li class="treeview">
                <a href="#">
                    <i class="fa fa-edit"></i> <span>Khách Hàng</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li><a href="pages/forms/general.html"><i class="fa fa-circle-o"></i>Danh sách khách hàng</a></li>
                    <li><a href="pages/forms/advanced.html"><i class="fa fa-circle-o"></i>Đối tác công ty</a></li>
                    <li><a href="pages/forms/editors.html"><i class="fa fa-circle-o"></i>Khách hàng vãng lai</a></li>
                </ul>
            </li>

            <li class="treeview">
                <a href="#">
                    <i class="fa fa-calculator"></i> <span>Quản lý đơn hàng</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li><a href="/admin/order"><i class="fa fa-circle-o"></i>Danh sách Đơn hàng</a></li>
                </ul>
            </li>

            <li class="treeview">
                <a href="#">
                    <i class="fa fa-key"></i> <span>Quản lý kho</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li><a href="/admin/storage"><i class="fa fa-circle-o"></i>Nhập hàng</a></li>
                    <li><a href="/admin/product/output"><i class="fa fa-circle-o"></i>Xuất hàng</a></li>
                    <li><a href="/admin/storage/listreceipt"><i class="fa fa-circle-o"></i>Danh sách phiếu nhập</a></li>
                </ul>
            </li>

            <li class="treeview">
                <a href="#">
                    <i class="fa fa-table"></i> <span>Hệ Thống</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li><a href="/admin/usermanager/user"><i class="fa fa-circle-o"></i>Người dùng</a></li>
                    <li><a href="pages/tables/data.html"><i class="fa fa-circle-o"></i>Nhóm người dùng</a></li>
                    <li><a href="/admin/usermanager/role"><i class="fa fa-circle-o"></i>Quyền</a></li>
                    <li><a href="/admin/infomation"><i class="fa fa-circle-o"></i>Thông tin công ty</a></li>
                    <li><a href="/admin/menu"><i class="fa fa-circle-o"></i>Menu</a></li>
                </ul>
            </li>
           
        </ul>
    </section>
    <!-- /.sidebar -->
</aside>